.header .card-container {
  margin-top: 25px;
}
.header .card-big {
  margin-bottom: 22px;
}
.header .card-big .card-header {
  margin: 0 auto;
}
.header .card-big .card-header img {
  width: 275px;
  display: block;
  margin: 0 auto;
}
.header .card-big .card-header .headline-mini {
  margin-top: 8px;
  text-align: center;
}
.header .card-big .card-body {
  margin-top: 25px;
}
.header .card-big .card-body ul.list-inline {
  margin-top: 10px;
}
