.header .headline {
  text-align: left;
}
.header .headline h3 {
  color: #5e5d5d;
}
.header .card-container {
  margin-top: 25px;
}
.header .card {
  margin-bottom: 22px;
}
.header .card .card-header .headline {
  text-align: center;
}
.header .card .card-header p {
  display: block;
  margin-top: 12px;
  text-align: justify;
}
.header .card .card-body {
  margin-top: 25px;
}
