* {
  padding: 0;
  margin: 0;
}

a,
p,
li,
ul,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a,
button {
  outline: none;
  font-family: 'Comfortaa-Regular';
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url("fonts/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("fonts/Comfortaa-Light.ttf");
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url("fonts/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: "MontserratAlternates-Bold";
  src: url("fonts/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: "MontserratAlternates-Regular";
  src: url("fonts/MontserratAlternates-Regular.ttf");
}
html,
body {
  font-family: 'Comfortaa-Regular';
  font-weight: 300;
  font-size: 14px;
}

p {
  line-height: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'MontserratAlternates-Regular', sans-serif;
  font-weight: 300;
  display: inline-block;
}

.text-mark-black {
  font-weight: bold;
  color: #000;
}
.text-mark-white {
  font-weight: bold;
  color: #fff;
}
.text-mark-violet {
  font-weight: bold;
  color: #ab0b81;
}
.text-mark-green {
  font-weight: bold;
  color: #ab0b81;
}

.content-container {
  max-width: 1170px;
  width: 100%;
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.card-container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.headline-big {
  text-align: center;
}
.headline-big h1 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.headline-mini {
  text-align: center;
}
.headline-mini h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.headline {
  text-align: center;
}
.headline h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.card {
  width: 30%;
  height: auto;
  display: inline-block;
  padding: 0 15px 0 15px;
}
.card.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
}
.card .card-header img {
  width: 100%;
  height: auto;
}
.card .card-body {
  margin-top: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.card-big {
  width: 40%;
  height: auto;
  display: inline-block;
  padding: 0 15px 0 15px;
}
.card-big.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
}
.card-big .card-header img {
  width: 100%;
  height: auto;
}
.card-big .card-body {
  margin-top: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.card-mini {
  width: 20%;
  height: auto;
  display: inline-block;
  padding: 0 15px 0 15px;
}
.card-mini.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
}
.card-mini .card-header img {
  width: 100%;
  height: auto;
}
.card-mini .card-body {
  margin-top: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.block {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  width: 100%;
  height: auto;
}

.box {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  width: 100%;
  height: auto;
}
.box-xs {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px 0 8px;
  width: 20%;
  height: auto;
}
.box-m {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px 0 8px;
  width: 30%;
  height: auto;
}

.box,
.box-xs,
.box-m {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
}

.button-default {
  max-width: 185px;
  width: 100%;
  height: auto;
  padding: 12px 8px 12px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.14);
          box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.14);
}
.button-default:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(181, 107, 228, 0.37);
          box-shadow: 0 2px 5px 0 rgba(181, 107, 228, 0.37);
}

.button-modern {
  max-width: 185px;
  width: 100%;
  height: auto;
  padding: 12px 8px 12px;
  vertical-align: middle;
  border-radius: 4px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(215, 107, 228, 0.42);
  background: rgba(215, 107, 228, 0.42);
}
.button-modern:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.42);
          box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.42);
  background: transparent;
}

.button-small {
  width: auto;
  height: auto;
  padding: 8px;
  vertical-align: middle;
  border-radius: 4px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.14);
          box-shadow: 0 1px 2px 0 rgba(215, 107, 228, 0.14);
}
.button-small:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(181, 107, 228, 0.37);
          box-shadow: 0 2px 5px 0 rgba(181, 107, 228, 0.37);
}

.btn-up-green {
  width: 140px;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  letter-spacing: 3px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #524f4e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-up-green:hover {
  background: #2EE59D;
  -webkit-box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-up-violet {
  width: 140px;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  letter-spacing: 3px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #524f4e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-up-violet:hover {
  background: #c38ee4;
  -webkit-box-shadow: 0 15px 20px rgba(195, 142, 228, 0.74);
          box-shadow: 0 15px 20px rgba(195, 142, 228, 0.74);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-jelly {
  max-width: 185px;
  width: 100%;
  height: auto;
  padding: 12px 8px 12px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(195, 142, 228, 0.74);
          box-shadow: 0px 2px 10px 2px rgba(195, 142, 228, 0.74);
}
.btn-jelly span {
  z-index: 10;
  position: relative;
}
.btn-jelly:before {
  content: '';
  height: 0%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #c38ee4;
  -webkit-transition: all 0ms ease;
  transition: all 0ms ease;
}
.btn-jelly:after {
  content: '';
  height: 80%;
  width: 0px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #c38ee4;
  -webkit-transition: all 0ms ease;
  transition: all 0ms ease;
  z-index: -1;
}
.btn-jelly:hover {
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-jelly:hover:before {
  content: '';
  height: 80%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #c38ee4;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btn-jelly:hover:after {
  content: '';
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
  z-index: 6;
}
