// Импортируем цветовую схему
// чтобы можно было применять переменные
// для своих нужд
	@import "base/_color-sheme.scss";

.header{

	.headline{
		text-align: left;
			h3{
				color: $darkGrey;
				//переопределяем цвет, по умолчанию он черный!
			}
	}

	.card{

			.card-header{
				.headline{
					text-align: center;
				}
				p{
					display: block;
					margin-top: 12px;
					text-align: justify;
				}
			}
	}
}