@import "../mixins/mixin.scss";


.card{
	width: 30%;
	height: auto;
	display: inline-block;
	padding: 0 15px 0 15px;
	&.shadow{
		@include shadow-card;
	}

		.card-header{
			img{
				width: 100%;
				height: auto;
			}
		}
		.card-body{
			margin-top: 15px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			padding-bottom: 10px;
		}
}
.card-big{
	width: 40%;
	height: auto;
	display: inline-block;
	padding: 0 15px 0 15px;
	&.shadow{
		@include shadow-card;
	}

		.card-header{

			img{
				width: 100%;
				height: auto;
			}
		}
		.card-body{
			margin-top: 15px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			padding-bottom: 10px;
		}
}
.card-mini{
	width: 20%;
	height: auto;
	display: inline-block;
	padding: 0 15px 0 15px;
	&.shadow{
		@include shadow-card;
	}
		.card-header{

			img{
				width: 100%;
				height: auto;
			}
		}
		.card-body{
			margin-top: 15px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			padding-bottom: 10px;
		}
}