//переменные
$easeInOut-2s: all 0.2s ease-in-out;
$easeInOut-3s: all 0.3s ease-in-out;
$easeInOut-5s: all 0.5s ease-in-out;

$easeIn-2s: all 0.2s ease-in;
$easeIn-3s: all 0.3s ease-in;
$easeIn-5s: all 0.3s ease-in;

$easeOut-2s: all 0.2s ease-out;
$easeOut-3s: all 0.3s ease-out;
$easeOut-5s: all 0.3s ease-out;

//
$transition-3s: .3s;


//easeInOut
@mixin easeInOut-2s{
	transition: $easeInOut-2s;
}
@mixin easeInOut-3s{
	transition: $easeInOut-3s;
}
@mixin easeInOut-5s{
	transition: $easeInOut-5s;
}

//easeIn
@mixin easeIn-2s{
	transition: $easeIn-2s;
}
@mixin easeIn-3s{
	transition: $easeIn-3s;
}
@mixin easeIn-5s{
	transition: $easeIn-5s;
}

//easeOut
@mixin easeOut-2s{
	transition: $easeOut-2s;
}
@mixin easeIn-3s{
	transition: $easeOut-3s;
}
@mixin easeIn-5s{
	transition: $easeOut-5s;
}