// Пресеты

//Пресеты для кнопок!
@mixin btn-standart{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
}
@mixin btn-uppercase{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}
@mixin btn-jelly{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
	text-transform: uppercase;
}