// Импортируем цветовую схему
// чтобы можно было применять переменные
// для своих нужд
	@import "base/_color-sheme.scss";

.header{


	.card-container{
		margin-top: 25px;
	}
	.card-big{
		margin-bottom: 22px;
			.card-header{
				margin: 0 auto;
				
				img{
					width: 275px;
					display: block;
					margin: 0 auto;
				}

				.headline-mini{
					margin-top: 8px;
					text-align: center;
				}
			}
			.card-body{
				margin-top: 25px;

				ul.list-inline{
					margin-top: 10px;
				}
			}
	}
}