//Храним тут переменные с цветами

// Общие
$black: #000;
$white: #fff;
$darkViolet: #ab0b81;
$lightGrey:	#929191;
$darkGrey: #5e5d5d;

// Цвета для кнопок
$acidGreen: #2EE59D;
$violet: #c38ee4;
$blue: #413ad5;
$button-color: #524f4e;

$shadow-box: rgba(0,0,0,.19);
