@import "_color-sheme.scss";


//Включаем шрифты
@font-face{
  font-family: Comfortaa-Regular;
  src: url("../fonts/Comfortaa-Regular.ttf");
}
@font-face{
  font-family: "Comfortaa-Light";
  src: url("../fonts/Comfortaa-Light.ttf");
}
@font-face{
  font-family: "Comfortaa-Bold";
  src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face{
  font-family: "MontserratAlternates-Bold";
  src: url("../fonts/MontserratAlternates-Bold.ttf");
}
@font-face{
  font-family: "MontserratAlternates-Regular";
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}

html,
body{
  font: {
    family: 'Comfortaa-Regular';
    weight: 300;
    size: 14px;
  }
}

p{
  line-height: 18px;
}

h1,
h2,
h3,
h4,
h5{
  font: {
    family: 'MontserratAlternates-Regular', sans-serif;
    weight: 300;
  }
  display: inline-block;
}

//подзаголовки и заголовки
.headline-big{
  text-align: center;
    h1{
      font:{
        size: 32px;
        weight: bold;
      }
      color: $black;
    }
}
.headline-mini{
  text-align: center;
    h2{
      font:{
        size: 24px;
        weight: bold;
      }
      color: $black;
    }
}
.headline{
  text-align: center;
    h3{
      font:{
        size: 18px;
        weight: bold;
      }
      color: $black;
    }
}

// маркировки текста несколько основных цветов
.text-mark{
  
    &-black{
      font-weight: bold!important;
      color: $black!important;
    }
    &-white{
      font-weight: bold!important;
      color: $white!important;
    }
    &-violet{
      font-weight: bold!important;
      color: $darkViolet!important;
    }
    &-green{
      font-weight: bold!important;
      color: $darkViolet!important;
    }

}

// Параметры текста
.text{
  
  //Первая заглавная
  &-lowercase{
    text-transform: lowercase;
  }

  // Все заглавные
  &-uppercase{
    text-transform: uppercase;
  }

  // Все первые заглавные
  &-capitalize{
    text-transform: capitalize;
  }
}

// класс list-inline для инлайновых li
ul.list-inline > li{
  display: inline-block;
  margin: 0 6px;
}

// Стилизация текста
.text-block{
  padding: 0 4px;
  text-align: left;
  
  &-justify{
    padding: 0 4px;
    text-align: justify;
  }
  &-center{
    padding: 0 4px;
    text-align: center;
  }
}